<div class="row">
    <div class="col-xs-12">
        <h1>List header</h1>
    </div>
</div>
<div class="row">
    <div class="cols-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary fropfoen-toggle">Manage list
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Edit list</a></li>
                <li><a href="#">Delete list</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Message
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Date
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Members
    </div>
</div>
<app-attendance-list-edit></app-attendance-list-edit>